/**
CATEGORIES
**/
.content-buttons {
  position: relative;
}
.main-actions {
  z-index: 999;
  right: 0;
}
/**
END CATEGORIES
**/

.item-title {
  font-size: 12px;
}
.item-categories {
  font-size: 9px;
}
