.ecn_content_types .icon-type {
  margin-top: 25px;
  height: 70px;
}
.icon-type svg {
  fill: red;
}

.ecn_content_types .description-type {
  margin-top: 15px;
  padding: 0px 10px 0px 10px;
  font-size: 16px;
  line-height: 17px;
  height: 40px;
  max-height: 65px;
}

.ecn_content_types .footer-type {
  margin-top: 25px;
  padding: 15px 0px 15px 0px;
  font-size: 22px;
  background: #3f4c5d;
  color: #fff;
  max-height: 95px;
}

.content-type {
  border: 3px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ecn_ct_inactive {
  border-color: #3f4c5d;
}
.ecn_ct_inactive:hover {
  border-color: #f7941d;
  cursor: pointer;
}

.ecn_ct_active {
  border-color: #f7941d;
}

.ecn_ct_active .footer-type {
  background: #f7941d !important;
}

/* DIV STATIC */
.ecn_experiences {
  padding: 5% 15% 5% 15%;
  text-align: center;
}

.enc_exp_title {
  /*font-family: 'Montserrat';*/
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 46px;
  color: #c1502a;
}

.enc_exp_text {
  margin-top: 3%;
  font-size: 1.3rem;
  color: #777777;
}

/* FILTERS */
.ecn_content_filters {
  padding: 3% 5% 3% 5%;
}
.ecn_category_header {
  color: #fff;
  font-size: 1rem;
}
.ecn_content_filters .accordion-button {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  background: #ffff;
}
.ecn_space {
  margin-top: 10px;
  margin-bottom: 10px;
}
.disabled_checkbox {
  color: rgba(0, 0, 0, 0.4);
}
.ecn_cat_description {
  font-size: 14px;
  color: rgb(50 50 50 / 80%);
}
.disabled_checkbox .ecn_cat_description {
  color: rgba(0, 0, 0, 0.4);
}
.ecn_button_all {
  background: #f97431;
  color: #fff;
  padding: 8px 10px 8px 10px;
  border: 0px;
  border-radius: 5px;
  font-size: 18px;
}

/* CARDS */
.ecn_content_results {
  padding: 2% 5% 5% 5%;
}

.ecn_card_img {
  position: relative;
}
.ecn_card_img img {
  height: 270px;
  max-height: 270px;
}

.ecn_card_img div {
  position: absolute;
  background-color: #063b5082;
  color: #fff;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  font-size: 18px;
  font-weight: 600;
}

.ecn_card {
  margin-bottom: 5%;
  margin-top: 5%;
}
.ecn_card:hover {
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.36);
}
.ecn_card:hover .ecn_card_img div {
  background-color: #c1502ac9;
}

.ecn_card_title {
  background: #fcfcfc;
  font-size: 20px;
  text-align: center;
}

.ecn_card_adddres {
  background: #e6e9f0;
  font-size: 16px !important;
  line-height: 1em;
}
.ecn_card_adddres p {
  font-size: 16px !important;
  line-height: 1em;
}

.ecn_card_problem {
  background: #fff7e8;
  text-align: justify;
}

.ecn_card_date {
  background: #fcfcfc;
  text-align: right;
}
/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
